@import url("style_accueil.css");
@import url("style_consult.css");


div.consultation{
    padding-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    display: block;
    float: left;
}

svg {
    background-color: white;
}

h1 {
    text-align: center;
}