@import url("style_accueil.css");

h1,
p {
    text-align: center;
    margin-bottom: 20px;
}

/* div containing the SVG and forms */
div.consultation {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
    text-align: center;
    align-items: center;
}

/* div containing */
div.consultation .form {
    max-width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff89;
    padding: 20px 0;
    backdrop-filter: blur(1px);
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.636);
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* div of the unique plan (consultation.php) */
div.unique {
    margin-left: 34%;
}

/* plan style */
svg {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


